<!DOCTYPE html>
<html>
  <head>
    <title>Verification Success</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        padding: 50px;
      }
      .success {
        color: green;
        font-size: 24px;
      }
      .icon {
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <img
      class="icon"
      src="https://img.icons8.com/ios/452/checked.png"
      alt="success-icon"
    />

    <h1 class="success"><%= message %></h1>
  </body>
</html>
